@import 'variable.less';

.footer {
    .logo {
        display: block;
        text-align: center;
        img {
            margin: 0 auto;
        }
    }
    .navbar-nav {
        display: block;
        float: none;
        text-align: center;
        li {
            display: inline-block;
            float: none;
        }
        a {
            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
    }
    .site-navigation-quick-link,
    .social-network-links {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .social-network-links {
        li + li {
           margin-left: 20px;
        }
        a {
            background-image: url(icons/social-icons.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 52px;
            height: 52px;
            text-indent: 200%;
            overflow: hidden;
            white-space: nowrap;
        }
        .facebook {
            a {
                background-position: 0 0;
            }
        }
        .google-plus {
            a {
                background-position: -104px 0;
            }
        }
        .twitter {
            a {
                background-position: -156px 0;
            }
        }
        .rss {
            a {
                background-position: -208px 0;
            }
        }
    }
    
    .copyright {
        display: block;
        padding: 15px 0;
        text-align: center;
        border-top: solid 1px @line-color;
    }
}