@import 'variable.less';

@heading-font-size-lg: 50px;
@heading-font-size-md: 32px;
@heading-font-size-sm: 28px;
@heading-font-size-xs: 20px;

body {
    color: @body-color;
}
a {
    color: @link-color;
}
.btn {
    color: #ffffff;
    background: @fill-color;
    &:active,
    &:focus,
    &:hover {
        color: #ffffff;
    }
}

.main-billboard {
    height: 768px;
    padding-top: 200px;
    margin-bottom: 30px;
    text-align: center;
    .billboard-content-bar {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 25px 0 30px 0;
    }
    .billboard-title {
        font-size: @heading-font-size-lg;
    }
    .billboard-subtitle {
        font-size: @heading-font-size-sm;
    }
    .billboard-description {
        font-size: @heading-font-size-xs;
    }
    &.course-search {
        background-image: url(bg/billboard-course-search.png);
        background-size: cover;
        background-repeat: no-repeat;
        form {
            color: @body-color;
            margin: 25px 0;
            .form-group {
                position: relative;
                width: 520px;
                margin-left: auto;
                margin-right: auto;
            }
            input {
                font-size: @heading-font-size-xs;
                width: 100%;;
                height: 60px;
                line-height: 100%;
                border-radius: 30px;
                padding: 0 25px;
                border: none;
            }
            button {
                position: absolute;
                right: 0;
                top: 0;
                width: 80px;
                height: 60px;
                padding-right: 25px;
                border-radius: 0 30px 30px 0;
                i {
                    background: url(icons/search-large.png) 50% 50% no-repeat;
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                }
                span {
                    display: none;
                }
            }
        }
    }
    &.join {
        .join-btn {
            margin-top: 15px;
            margin-bottom: 15px;
            .btn {
                font-size: @heading-font-size-xs;
                display: block;
                line-height: 1.8;
                height: 60px;
                width: 300px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
                border-radius: 30px;
            }
        }
    }
}
.hightlight {
    margin-bottom: 45px;
    .highlight-title {
        color: @heading-color;
        font-size: @heading-font-size-md;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
.ad-content {
    .ad-heading {
        color: @heading-color;
        font-size: @heading-font-size-md;
    }
    .ad-item {
        color: @subtext-color;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    &.ad-instructor-invitation {
        text-align: center;
        img {
            display: block;
            margin: 0 auto 15px auto;
        }
        .join {
            font-size: @heading-font-size-sm;
            margin-top: 15px;
            p {
                color: @heading-color;
            }
            .btn {
                font-size: @heading-font-size-sm;
                margin: 20px 0;
                padding: 10px 0;
                width: 100%;
                border-radius: 4px;
                border-bottom: solid 4px #037ab1;
            }
        }
        .ad-item {
            padding-bottom: 45px;
            background: url(bg/ad-item-bg.png) 50% 100% no-repeat;
        }
    }
}
.course-summary-box {
    border-radius: 4px;
    border: solid 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.25);
    height: 375px;
    margin-bottom: 30px;
    overflow: hidden;
    .course-img {
        .img-wrapper {
            height: 195px;
            overflow: hidden;
            border: solid 1px #ffffff;
        }
        .img {
            display: block;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 100%;
            width: 100%;
        }
    }
    .course-instructor,
    .course-summary-text,
    .course-details {
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .course-summary-text,
    .course-details {
        border-bottom: solid 1px rgba(0, 0, 0, 0.25);
    }
    .course-summary-text {
        height: 60px;
        overflow: hidden;
        span {
            font-size: 12px;
            display: block;
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .course-details {
        height: 60px;
        text-align: center;
        .label {
            font-size: 11px;
            color: @body-color;
            font-weight: normal;
            display: block;
            line-height: 15px;
            padding: 0;
        }
    }
    .fa-star {
        color: #fff09c;
        text-shadow: 0 0 1px #bd8a00;
    }
    .course-price {
        .label,
        .price {
            margin-left: 8px;
        }
        .price {
            color: @heading-color;
            font-weight: bold;
        }
    }
    .course-attending {
        .label,
        .attending {
            margin-right: 8px;
        }
        .attending {
            height: 24px;
            img {
                display: inline;
                margin: 0 auto;
            }
        }
    }
    .course-instructor {
        font-size: 12px;
        .name,
        .title {
            display: block;
        }
        .name {
            font-weight: bold;
        }
        img {
            margin-left: 8px;
        }
    }
    .course-instructor-img {
        width: 70px;
    }
}

@media (max-width: 1024px) {
    @heading-font-size-lg: 2.9em;
    @heading-font-size-md: 2.2em;
    @heading-font-size-sm: 1.6em;
    @heading-font-size-xs: 1.6em;
    .main-billboard {
        .billboard-title {
            font-size: @heading-font-size-lg;
        }
        .billboard-subtitle {
            font-size: @heading-font-size-sm;
        }
        .billboard-description {
            font-size: @heading-font-size-sm;
        }
        &.course-search {
            form {
                input {
                    font-size: @heading-font-size-xs;
                }
            }
        }
        &.join {
            .join-btn {
                .btn {
                    font-size: @heading-font-size-sm;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    @heading-font-size-lg: 2em;
    @heading-font-size-md: 1.7em;
    @heading-font-size-sm: 1.2em;
    @heading-font-size-xs: 1.1em;
    .main-billboard {
        height: 480px;
        padding-top: 80px;
        .billboard-title {
            font-size: @heading-font-size-lg;
        }
        .billboard-subtitle {
            font-size: @heading-font-size-sm;
        }
        .billboard-description {
            font-size: @heading-font-size-sm;
        }
        &.course-search {
            form {
                .form-group {
                    width: 100%;
                }
                input {
                    font-size: @heading-font-size-xs;
                }
            }
        }
        &.join {
            .join-btn {
                .btn {
                    font-size: @heading-font-size-sm;
                    line-height: @heading-font-size-sm + 0.8;
                    height: 50px;
                    width: 100%;
                }
            }
        }
    }
    .ad-content {
        .ad-heading {
            font-size: @heading-font-size-md;
        }
        .ad-item {
            font-size: @heading-font-size-sm;
        }
        &.ad-instructor-invitation {
            .join {
                font-size: @heading-font-size-sm;
                .btn {
                    font-size: @heading-font-size-sm;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .course-summary-box {
        height: auto;
        .course-img {
            .img-wrapper {
                height: 360px;
            }
            .img {
                height: 360px;
            }
        }
    }
}

@media (max-width: 480px) {
    .main-billboard {
        .billboard-title {
            font-size: 1.1em;
        }
        .billboard-subtitle {
            font-size: 0.8em;
        }
        .billboard-description {
            font-size: 0.7em;
        }
    }
    .course-summary-box {
        height: auto;
        .course-img {
            .img-wrapper {
                height: 200px;
            }
            .img {
                height: 200px;
            }
        }
    }
}