@import 'variable.less';

.header {
    @header-bar-height: 90px;
    .navbar-brand {
        padding-top: 10px;
        padding-bottom: 10px;
        height: @header-bar-height;
        .logo {
            display: inline-block;
            width: 220px;
        }
        .text {
            display: none;
        }
    }
    .icon-bar {
        background-color: @heading-color
    }
    .navbar {
        min-height: @header-bar-height;
        margin-bottom: 0;
        border: none;
    }
    .navbar-nav {
        margin-top: 20px;
        float: right;
        a {
            &:active,
            &:focus,
            &:hover {
                background-color: transparent;
            }
        }
        i {
            background-image: url(icons/main-nav-icons.png);
            background-repeat: no-repeat;
            display: inline-block;
            width: 25px;
            height: 25px;
            margin-right: 5px;
            vertical-align: middle;
        }
        .search-course {
            i {
                background-position: 0 0;
            }
        }
        
        .join-instructor {
            i {
                background-position: -25px 0;
            }
        }
        
        .register-class {
            i {
                background-position: -50px 0;
            }
        }
        .login {
            i {
                background-position: -75px 0;
            }
        }
    }
}

@media (max-width: 768px) {
    @header-bar-height: 50px;
    .header {
        .navbar-brand {
            height: @header-bar-height;
            .logo {
                width: 90px;
            }
        }
        .navbar {
            min-height: @header-bar-height;
        }
        .navbar-nav {
            margin-top: 0;
            float: none;
        }
    }
}