@import 'palette.less';

@body-color:       @main-grey;

@link-color:       @main-grey;
@heading-color:    @main-blue;
@subtext-color:    @main-grey;

@fill-color:       @main-blue;
@line-color:       #eeeeee;


.font-normal() {
    font-family: sans-serif;
}
.font-awesome() {
    font-family: 'FontAwesome';
}